		</div>
		<div id="bottom"></div>
	</div>
		<div id="footer">
		<div id="footerleft">
			<p>Copyright &copy; 2009 Kdocode.com</p>
		</div>
		<div id="footerright">
			<p><a href="http://kdocode.com/contact.html#support" title="Nous contacter">Signaler un Bug ?</a> - Designed by <a href="http://www.manjeetcss.com/">Manjeet</a> - <a href="http://www.kdocode.com">KDOCode.com</a></p>
		</div>
	</div>
</div>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://loode.network-hosting.com/piwik/" : "http://loode.network-hosting.com/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://loode.network-hosting.com/piwik/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
	<!-- Scripts JS //-->
	<script type="text/javascript" src="includes/js/general.js"></script>
	<script type="text/javascript" src="includes/js/lightbox.js"></script>
	<script type="text/javascript" src="includes/tinymce/tiny_mce.js"></script>
</body>
</html>
