<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="{SITE_DESC}" />

<title>KDOCode.com :: {TITLE}</title>

<!-- Favicon //-->
<link rel="icon" type="image/png" href="images/favicon.png" />

<!-- Styles //-->
<link href="templates/styles/1/css/design.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/styles/1/css/lightbox.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
<div id="container">
	<div id="navbar">
		<div id="navleft">
			<h1><a href="index.html"><img src="images/logo.png" /></a></h1>
		</div>
		<div id="navright">
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="annonceur-accueil.html">Annonceurs</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="mainright">